.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
.DS_Store

libs/
app_cache/
debug_log.txt
test_file.txt
slurm-*.out*
modules/PF3D7_names_and_descriptions.txt

data/*
!data/README.md

renv/library/
renv/staging/
renv/.cache/

naming.R
job.sh
